.autor-info {
	margin-top: vc(72);
	padding-bottom: vc(54);

	&__left {
		@include mobile {
			.card-page__nav {
				position: absolute;
				right: 0;
				top: vc(56);
				width: vc(143);

				.card-page__like {
					flex-basis: auto;
				}
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: vc(36);
		line-height: vc(36);
		letter-spacing: -1px;

		&--inner {
			font-size: vc(40);
			line-height: vc(48);
			letter-spacing: 0;
		}

		@include mobile {
			font-size: vc(28);
			line-height: vc(36);

			&--inner {
				letter-spacing: -1px;
			}
		}
	}

	&__content {
		display: flex;
		margin-top: vc(32);

		&--inner {
			display: block;
		}

		&--collections {

		}

		@include mobile {
			margin-top: vc(23);
		}
	}

	&__image {
		margin-right: vc(24);
		overflow: hidden;
		border-radius: 16px;
		width: vc(100);
		height: vc(100);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--inner {
			margin-bottom: vc(40);
			border-radius: vc(24);
			width: vc(148);
			height:  vc(148);
		}

		&--collections {
			margin-right: vc(12);
			border-radius: 10px;
			width: vc(48);
			height: vc(48);
		}

		@include mobile {
			border-radius: 12px;
			width: vc(80);
			height: vc(80);

			&--inner {
				margin-bottom: vc(24);
			}

			&--collections {
				margin-right: vc(12);
				border-radius: 100px;
				width: vc(48);
				height: vc(48);
			}
		}
	}

	&__info {
		padding-top: vc(8);

		&--inner {
			display: flex;
			padding-top: vc(9);
		}

		&--collections {
			padding-top: 0;

			@include mobile {
				margin-bottom: vc(32);
			}
		}
	}

	&__rank {
		margin-bottom: vc(8);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(20);
		color: rgba(224, 224, 255, 0.6);


		&--inner {
			margin-right: vc(40);
			font-size: vc(16);
			line-height: vc(24);

			&:last-child {
				margin-right: 0;
			}
		}

		&--collections {
			font-size: vc(14);
			line-height: vc(20);
		}

		@include mobile {
			font-size: vc(13);
			line-height: vc(20);

			&--inner {
				margin-right: vc(40);
			}
		}
	}

	&__name {
		font-weight: 600;
		font-size: vc(24);
		line-height: vc(28);
		text-decoration: underline;

		&--collections {
			font-size: vc(16);
			line-height: vc(24);
		}

		@include mobile {
			font-size: vc(20);
			line-height: vc(28);

			&--collections {
				font-size: vc(13);
				line-height: vc(20);
			}
		}
	}

	&__links {
		@include desktop {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: vc(56);
			width: vc(537);

			&--inner {
				margin-top: vc(32);
			}
		}

		@include mobile {
			margin-top: vc(32);
			margin-bottom: vc(32);

			&--inner {
				margin-top: vc(23);
			}
		}
	}

	&__social {
		display: flex;
		margin-bottom: vc(16);
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(24);

		svg {
			margin-right: vc(16);
			width: vc(24);
			height: vc(24);
			opacity: 0.6;
		}

		@include desktop {
			&--1,
			&--3,
			&--5 {
				width: vc(258);
			}

			&--2,
			&--4 {
				width: vc(131);
			}
		}

		@include mobile {
			font-size: vc(13);
			line-height: vc(24);
		}
	}

	&__right {
		@include desktop {
			margin-top: vc(69);
			width: vc(640);

			.card-page__nav {
				justify-content: flex-end;
				margin-bottom: vc(41);
			}

			.card-page__content {
				margin-top: vc(40);
			}

			&--inner {
				margin-top: vc(148);
			}
		}
	}

	&--inner {
		margin-top: vc(-106);
	}

	@include desktop {
		display: flex;
		justify-content: space-between;
	}

	@include mobile {
		margin-top: vc(81);

		.card-page__button {
			margin-bottom: 0;
		}

		&--inner {
			margin-top: vc(-63);
			padding-bottom: vc(42);
		}

		&__left {
			position: relative;
		}
	}
}

.intro-page {
	position: relative;

	.container--inner-page {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}

	&__bg {
		position: relative;
		width: 100%;
		height: vc(400);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include mobile {
			height: vc(260);
		}
	}
}
