.collections {
	margin-top: vc(-40);
	overflow: visible;

	.swiper-wrapper {
		padding: vc(72) 0;

		@include mobile {
			left: vc(16);
			padding: vc(31) 0 0;
		}
	}

	.swiper-slide {
		&.swiper-slide-visible {
			.collections__item {
				opacity: 1;
			}
		}
	}

	.collections__item {
		opacity: 0;
		transition: all 0.3s $easing-smooth;
	}

	&__item {
		position: relative;
		overflow: hidden;
		width: vc(424);
		height: vc(352);
		border-radius: 24px;
		background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
		border: 1px solid rgba(245, 247, 250, 0.06);
		box-sizing: border-box;
		box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
		backdrop-filter: blur(24px);

		@include desktop {
			overflow: hidden;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient(135deg, #26282F 0%, rgba(33, 35, 42, 0.85) 52.14%, rgba(24, 26, 32, 0.7) 100%);
				visibility: hidden;
				opacity: 0;
				transition: all 0.5s $easing-smooth;
			}

			&:hover {
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@include mobile {
			width: vc(312) ;
			height: vc(360);
		}
	}

	&__image {
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
		height: vc(184);
		overflow: hidden;

		img {
			margin-top: vc(-88);
			width: vc(424);
			height: vc(424);
		}
	}

	&__icon {
		position: relative;
		z-index: 1;
		width: vc(72);
		height: vc(72);

		img {
			border-radius: 12px;
		}
	}

	&__person {
		position: relative;
		z-index: 1;
		display: block;
		margin: vc(16) 0 vc(4);
		font-weight: 600;
		font-size: vc(13);
		line-height: vc(16);

		a {
			padding-left: vc(5);
			background: linear-gradient(135deg, #FF00AA 0%, #9C42F5 50.18%, #5D2DE1 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}

		@include mobile {
			font-size: vc(12);
		}
	}

	&__title {
		position: relative;
		z-index: 1;
		display: block;
		margin-bottom: vc(8);
		font-weight: 600;
		font-size: vc(20);
		line-height: vc(28);
		letter-spacing: -0.4px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include mobile {
			font-size: vc(16);
			line-height: vc(24);
		}
	}

	&__text {
		position: relative;
		z-index: 1;
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: rgba(224, 224, 255, 0.6);

		@include mobile {
			font-size: vc(13);
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		margin-top: vc(-42);
		padding: 0 vc(24) vc(24);

		@include mobile {
			padding: 0 vc(16) vc(16);
		}
	}

	@include mobile {
		margin: 0 vc(-16);

		.swiper-slide {
			margin: 0 vc(8);
			width: vc(312) !important;
		}
	}
}

.popuplar,
.popular {
	display: flex;
	flex-wrap: wrap;
	margin: vc(32) vc(-12) 0;

	.card {
		@include desktop {
			margin-bottom: vc(24);
		}

		@include mobile {
			margin-bottom: vc(12);
		}
	}

	&--2 {
		margin-bottom: vc(45);
	}

	&--slider {
		overflow: visible;

		.swiper-slide {
			.card {
				opacity: 0;
				transition: all 0.5s $easing-smooth;
			}

			&.swiper-slide-visible {
				.card {
					opacity: 1;
				}
			}
		}

	}

	@include mobile {
		margin: vc(32) vc(-6) 0;

		&--2 {
			margin-bottom: vc(52);
		}
	}
}
