.footer {
	position: relative;
	padding-bottom: vc(72);
	background: $color-body;

	&__logo {
		display: block;
		margin-bottom: vc(36);
		width: vc(135);
		height: vc(24);

		@include mobile {
			margin-bottom: vc(31);
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		border-radius: 24px;
		padding: vc(48) vc(56) vc(52);
		width: vc(1320);
		background: rgba(41, 44, 48, 0.48);
		backdrop-filter: blur(72px);

		@include mobile {
			display: block;
			padding: vc(41) vc(16) vc(24);
			width: vc(328);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		margin-bottom: vc(10);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: $color-hover;
		//mix-blend-mode: normal;

		@include desktop {
			&:hover {
				color: $color-white;
			}
		}

		svg {
			margin-right: vc(8);
			width: vc(20);
			height: vc(20);
		}

		span {
			padding-right: vc(4);
			color: $color-white;
		}

		@include mobile {
			font-size: vc(13);
			line-height: vc(24);
			margin-bottom: vc(6);
		}
	}

	&__copyright {
		margin-top: vc(37);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: $color-hover;
		mix-blend-mode: normal;

		@include mobile {
			margin-top: 7px;
		}
	}

	&__right {
		@include desktop {
			display: flex;
		}
	}

	&__nav {
		display: flex;

		@include mobile {
			flex-wrap: wrap;
		}
	}

	&__item {
		@include desktop {
			margin-right: vc(64);

			&--last {
				width: vc(184);
				margin-right: 0;
			}
		}

		@include mobile {
			&--1, &--3 {
				width: 55.5%;
			}

			&--2 {
				width: 40%;
			}
		}
	}

	&__title {
		margin-bottom: vc(16);
		font-weight: 600;
		font-size: vc(13);
		line-height: vc(16);
		letter-spacing: 1px;
		text-transform: uppercase;

		@include mobile {
			margin-top: vc(25);
			margin-bottom: vc(16);
		}
	}

	&__links {
		li {
			@include mobile {
				&:last-child {
					a {
						margin-bottom: vc(7);
					}
				}
			}
		}

		@include mobile {
			.footer__link {
				margin-bottom: vc(4);
			}
		}
	}

	&__follow {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: vc(35);

		@include desktop {
			width: vc(132);
		}

		@include mobile {
			margin-bottom: vc(18);
		}
	}

	&__social {
		display: block;
		margin-right: vc(16);
		margin-bottom: vc(16);
		width: vc(24);
		height: vc(24);
		color: $color-text;
		opacity: 0.6;

		@include desktop {
			&:hover {
				color: $color-white;
				opacity: 1;
			}
		}
	}

	&__production {
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: rgba(224, 224, 255, 0.6);

		a {
			margin-left: vc(4);
			color: $color-white;
		}
	}

	@include mobile {
		padding-bottom: vc(64);
		width: vc(360);
	}
}
