.footer {
	position: relative;
	padding-bottom: 72px;
	background: $color-body;

	&__left {

	}

	&__logo {
		display: block;
		margin-bottom: 36px;
		width: 135px;
		height: 24px;

		@include mobile {
			margin-bottom: 31px;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		border-radius: 24px;
		padding: 48px 56px 52px;
		width: 1320px;
		background: rgba(41, 44, 48, 0.48);
		backdrop-filter: blur(72px);

		@include mobile {
			display: block;
			padding: 41px 16px 24px;
			width: 328px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $color-hover;
		//mix-blend-mode: normal;

		@include desktop {
			&:hover {
				color: $color-white;
			}
		}

		svg {
			margin-right: 8px;
			width: 20px;
			height: 20px;
		}

		span {
			padding-right: 4px;
			color: $color-white;
		}

		@include mobile {
			font-size: 13px;
			line-height: 24px;
			margin-bottom: 6px;
		}
	}

	&__copyright {
		margin-top: 37px;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $color-hover;
		mix-blend-mode: normal;

		@include mobile {
			margin-top: 7px;
		}
	}

	&__right {
		@include desktop {
			display: flex;
		}
	}

	&__nav {
		display: flex;

		@include mobile {
			flex-wrap: wrap;
		}
	}

	&__item {
		@include desktop {
			margin-right: 64px;

			&--last {
				width: 184px;
				margin-right: 0;
			}
		}

		@include mobile {
			&--1, &--3 {
				width: 55.5%;
			}

			&--2 {
				width: 40%;
			}
		}
	}

	&__title {
		margin-bottom: 16px;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;

		@include mobile {
			margin-top: 25px;
			margin-bottom: 16px;
		}
	}

	&__links {
		li {
			@include mobile {
				&:last-child {
					a {
						margin-bottom: 7px;
					}
				}
			}
		}

		@include mobile {
			.footer__link {
				margin-bottom: 4px;


			}
		}
	}

	&__follow {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 35px;

		@include desktop {
			width: 132px;
		}

		@include mobile {
			margin-bottom: 18px;
		}
	}

	&__social {
		display: block;
		margin-right: 16px;
		margin-bottom: 16px;
		width: 24px;
		height: 24px;
		color: $color-text;
		opacity: 0.6;

		@include desktop {
			&:hover {
				color: $color-white;
				opacity: 1;
			}
		}
	}

	&__production {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: rgba(224, 224, 255, 0.6);

		a {
			margin-left: 4px;
			color: $color-white;
		}
	}

	@include mobile {
		padding-bottom: 64px;
		width: 360px;
	}
}
