.header {
	position: relative;
	z-index: 10;

	.line {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: vc(145);
		height: vc(2);
		background: linear-gradient(135deg, #FF00AA 0%, #9C42F5 50.18%, #5D2DE1 100%);
		box-shadow: 0px 1px 1px rgba(255, 0, 170, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 3px 8px rgba(255, 0, 170, 0.24), 0px 6px 12px rgba(255, 0, 170, 0.24);
		border-radius: 2px 2px 0px 0px;
		//opacity: 0;
		transition: all 0.5s $easing-smooth;
	}

	&__logo {
		display: block;
		margin-right: vc(47);
		width: vc(136);
		height: vc(24);

		@include mobile {
			margin-right: 0;
		}
	}

	&__inner {
		position: relative;


	}

	&__nav {
		display: flex;

		li {
			position: relative;
			padding: vc(36) 3.15px;
			margin-right: vc(42);

			&:last-child {
				margin-right: 0;
			}

			&::after {
				//content: "";
				//position: absolute;
				//left: 0;
				//right: 0;
				//bottom: 0;
				//width: 100%;
				//height: vc(2);
				//background: linear-gradient(135deg, #FF00AA 0%, #9C42F5 50.18%, #5D2DE1 100%);
				//box-shadow: 0px 1px 1px rgba(255, 0, 170, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 3px 8px rgba(255, 0, 170, 0.24), 0px 6px 12px rgba(255, 0, 170, 0.24);
				//border-radius: 2px 2px 0px 0px;
				//opacity: 0;
			}

			&.is-current {
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__link {
		display: flex;
		font-weight: 600;
		font-size: vc(16);
		line-height: vc(24);
		color: $color-hover;
		transition: color 0.2s $easing-smooth;

		svg {
			margin-right: vc(12);
			width: vc(24);
			height: vc(24);
		}

		li.is-current & {
			color: $color-white;
		}

		@include desktop {
			&:hover {
				color: $color-white;
			}
		}
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__right {
		position: relative;
		display: flex;
	}

	&__lang {
		position: relative;

		&-current {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 12px;
			width: vc(101);
			height: vc(48);
			background: $color-bg;
			cursor: pointer;

			&::after {
				content: "";
				position: relative;
				z-index: 1;
				display: block;
				margin-left: vc(12);
				width: vc(24);
				height: vc(24);
				background: url("../images/sprites/svg/arrow-down.svg") center center no-repeat;
				background-size: contain;
			}

			&.is-active {
				&::after {
					background: url("../images/sprites/svg/arrow-select-white.svg") center center no-repeat;
					background-size: contain;
				}
			}
		}

		&-list {
			position: absolute;
			left: 0;
			top: vc(60);
			z-index: 20;
			width: 100%;
			padding: vc(20) 0;
			background: #2D2F33;
			border: 1px solid rgba(224, 224, 255, 0.2);
			box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), 6px 12px 24px rgba(9, 13, 20, 0.4);
			border-radius: 12px;
			font-weight: 500;
			font-size: vc(16);
			line-height: vc(24);
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s linear;

			&.is-view {
				opacity: 1;
				visibility: visible;
			}
		}

		&-link {
			display: block;
			padding: vc(8) vc(24);

			@include desktop {
				&:hover {
					background: rgba(24, 27, 31, 0.24);
					color: rgba(224, 224, 255, 0.8);
				}
			}
		}
	}

	&__area {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 vc(24);
		border-radius: 12px;
		width: vc(48);
		height: vc(48);
		background: $color-bg;

		svg {
			width: vc(24);
			height: vc(24);
		}
	}

	&__burger {
		position: relative;
		margin-left: vc(24);
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
		box-shadow: 0px 0px 1px rgba(255, 0, 170, 0.12), 0px 2px 4px -1px rgba(27, 10, 82, 0.06), 0px 16px 24px rgba(255, 0, 170, 0.12), 0px 8px 8px -4px rgba(255, 0, 170, 0.06), inset 0px 2px 6px rgba(255, 0, 170, 0.4);
		border-radius: 12px;
		width: vc(48);
		height: vc(48);

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 4px;
			border-radius: 20px;
			width: 100%;
			height: 2px;
			background: $color-white;
			transition: all 0.3s $easing-smooth;
		}

		&-i {
			position: relative;
			margin: 0 auto;
			width: vc(27);
			height: vc(27);

			svg {
				position: absolute !important;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				transition: all 0.5s $easing-smooth;

				&:last-child {
					opacity: 0;
					transform: scale(0);
				}
			}
		}

		&.is-active {
			background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
			box-shadow: 0px 0px 1px rgba(93, 45, 225, 0.12), 0px 2px 4px -1px rgba(27, 10, 82, 0.06), 0px 16px 24px rgba(93, 45, 225, 0.12), 0px 8px 8px -4px rgba(93, 45, 225, 0.06), inset 0px 2px 6px rgba(93, 45, 225, 0.4);

			span {
				opacity: 0;
			}

			.header__burger-i {
				svg {
					&:first-child {
						opacity: 0;
						transform: scale(0);
					}

					&:last-child {
						opacity: 1;
						transform: scale(1);
					}
				}
			}
		}

		@include desktop {
			cursor: pointer;

			&:hover {
				background: linear-gradient(0deg, rgba(224, 224, 255, 0.06), rgba(224, 224, 255, 0.06)), linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #181B1F 99.14%);
				box-shadow: 0px 0px 1px rgba(255, 0, 170, 0.24), 0px 2px 4px -1px rgba(27, 10, 82, 0.06), 0px 16px 24px rgba(255, 0, 170, 0.12), inset 0px 0px 8px rgba(255, 0, 170, 0.4);
			}
		}

		@include mobile {
			margin-left: vc(16);
			width: vc(36);
			height: vc(36);
		}
	}

	&__menu {
		position: absolute;
		visibility: hidden;
		opacity: 0;

		@include desktop {
			position: absolute;
			right: 0;
			top: vc(60);
			z-index: 20;
			width: vc(280);
			//height: vc(328);
			padding: vc(20) 0;
			background: #2D2F33;
			border: 1px solid rgba(224, 224, 255, 0.2);
			box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), 6px 12px 24px rgba(9, 13, 20, 0.4);
			border-radius: 12px;
			font-weight: 500;
			font-size: vc(16);
			line-height: vc(24);

			transition: all 0.5s linear;

			&-link {
				display: block;
				padding: vc(8) vc(24);

				@include desktop {
					&:hover {
						background: rgba(24, 27, 31, 0.24);
						color: rgba(224, 224, 255, 0.8);
					}
				}
			}

			&.is-view {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__title {
		padding: vc(8) vc(24);
		font-weight: 600;
		font-size: vc(14);
		line-height: vc(16);
		letter-spacing: 1px;
		text-transform: uppercase;

		@include mobile {
			margin-top: vc(25);
			margin-bottom: vc(16);
		}
	}

	&__follow {
		display: flex;
		flex-wrap: wrap;
		padding: vc(8) vc(24);
	}

	&__social {
		display: block;
		margin-right: vc(16);
		width: vc(24);
		height: vc(24);
		color: $color-text;
		opacity: 0.6;

		@include desktop {
			&:hover {
				color: $color-white;
				opacity: 1;
			}
		}
	}

	@include mobile {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		padding: vc(15) 0;

		&.is-scroll {
			background: rgba(24, 27, 31, 0.6);
			box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), 8px 8px 24px rgba(9, 13, 20, 0.4);
			backdrop-filter: blur(80px);
		}

		&.is-active {
			background: #212327;

			.button {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
