.info {
	padding-bottom: vc(41);

	&__right {
		@include desktop {
			margin-top: vc(-8);
			margin-right: vc(2);
			width: vc(640);
		}

		@include mobile {
			margin-top: vc(31);
		}
	}

	&__title {
		margin-bottom: vc(32);
		font-weight: 700;
		font-size: vc(36);
		line-height: vc(36);
		letter-spacing: -1px;

		@include mobile {
			margin-bottom: vc(23);
			font-size: vc(28);
			line-height: vc(36);
		}
	}

	&__content {
		margin-bottom: vc(19);
	}

	&__subtitle {
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(28);
		color: #E0E0FF;
		mix-blend-mode: normal;
		opacity: 0.6;

		@include mobile {
			margin-bottom: vc(3);
			font-size: vc(13);
			line-height: vc(20);
		}
	}

	&__subtext {
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(37);
		letter-spacing: 0.02em;

		@include mobile {
			font-size: vc(13);
			line-height: vc(20);
		}
	}

	@include desktop {
		display: flex;
		justify-content: space-between;
	}
}

.tabs {
	&__navs {
		position: relative;
		display: flex;
		align-items: center;
		padding: vc(4);
		width: vc(640);
		height: vc(52);
		border-radius: 100px;
		background: rgba(24, 27, 31, 0.42);
		box-shadow: inset 6px 10px 16px rgba(0, 0, 0, 0.16);

		&::before {
			content: "";
			position: absolute;
			width: vc(316);
			height: vc(44);
			background: linear-gradient(180deg, #5A5E62 0%, #34373B 72.53%, #24272B 100%);
			box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.16), 0px 6px 8px rgba(0, 0, 0, 0.2);
			border-radius: 100px;
			transform: translateX(0);
			transition: all 0.5s linear;

			.modal & {
				width: 50%;
			}

			@include mobile {
				width: vc(160);
				height: vc(40);
			}
		}

		&.is-active {
			&::before {
				transform: translateX(100%);

				@include mobile {
					transform: translateX(95%);
				}
			}
		}

		.modal & {
			background: #272A2E;
			box-shadow: inset 6px 10px 16px rgba(0, 0, 0, 0.24);
			margin: 0 auto;
			width: 380px;

			@include mobile {
				width: 296px;
			}
		}

		@include mobile {
			width: 100%;
			height: vc(48);
		}
	}

	&__nav {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: vc(316);
		height: vc(44);
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(24);
		color: #E0E0FF;
		opacity: 0.6;
		cursor: pointer;
		transition: all 0.5s linear;

		&.is-active {
			opacity: 1;
			color: $color-white;
			pointer-events: none;
		}

		@include mobile {
			font-size: vc(14);
			line-height: vc(24);
		}
	}

	&__content {
		margin-top: vc(16);
		padding: vc(16) 0 vc(16) vc(16);
		background: rgba(24, 27, 31, 0.6);
		box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.06);
		backdrop-filter: blur(72px);
		border-radius: 12px;

		.modal & {
			margin-top: vc(24);
			padding: 0;
		}
	}

	&__element {

	}

	&__item {
		margin-bottom: vc(16);
		padding: vc(16) vc(24);
		width: vc(608);
		background: rgba(224, 224, 255, 0.04);
		border-radius: 12px;

		&:last-child {
			margin-bottom: 0;
		}

		@include desktop {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@include mobile {
			margin-right: vc(16);
			margin-bottom: vc(12);
			padding: vc(12) vc(16);
			width: 100%;
		}
	}

	&__title {
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(24);
		letter-spacing: -0.4px;

		@include mobile {
			margin-bottom: vc(4);
			font-size: vc(13);
			line-height: vc(20);
		}
	}

	&__times {
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(24);
		color: #E0E0FF;

		mix-blend-mode: normal;
		opacity: 0.6;

		@include mobile {
			font-size: vc(13);
			line-height: vc(20);
		}
	}


}
