.autor-list {
	margin-bottom: vc(72);

	&__top {
		display: flex;
		border-bottom: 1px solid rgba(224, 224, 255, 0.2);
		padding: vc(31) 0px vc(19);
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: rgba(224, 224, 255, 0.6);
	}

	&__col {
		&--1 {
			width: 40%;
		}

		&--2 {
			width: 20.3%;
		}

		&--3 {
			width: 15.8%;

			@include desktop {
				.autor-list__subtext {
					margin-left: vc(-72);
				}
			}
		}

		&--4 {
			width: 14%;

			@include desktop {
				.autor-list__subtext {
					margin-left: -2px;
				}
			}
		}

		&--5 {
			width: 10%;

			.autor-list__number {
				justify-content: flex-end;
			}

			.autor-list__subtext {
				text-align: right;
			}
		}

		&--text {

		}

		@include mobile {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-basis: 100%;
			margin-bottom: vc(8);

			&--1 {
				margin-bottom: 0;
			}
		}
	}

	&__subtext {
		.autor-list__col--1 & {
			padding-left: vc(104);
		}

		@include mobile {
			font-size: vc(13);
			line-height: vc(20);
			color: rgba(224, 224, 255, 0.6);
		}
	}

	&__items {

	}

	&__item {
		display: flex;
		align-items: center;
		margin: vc(20) 0;
		padding-bottom: vc(20);
		border-bottom: 1px solid rgba(224, 224, 255, 0.2);

		@include mobile {
			flex-wrap: wrap;
			padding-bottom: vc(11);

			&:first-child {
				padding-top: vc(19);
				border-top: 1px solid rgba(224, 224, 255, 0.2);
			}
		}
	}

	&__inner {
		display: flex;

		@include desktop {
			align-items: center;
		}

		@include mobile {
			margin-bottom: vc(16);
		}
	}

	&__image {
		overflow: hidden;
		margin-right: vc(24);
		border-radius: 12px;
		width: vc(80);
		height: vc(80);

		@include mobile {
			margin-right: vc(16);
			width: vc(64);
			height: vc(64);
		}
	}

	&__title {
		font-weight: 600;
		font-size: vc(18);
		line-height: vc(24);

		@include desktop {
			letter-spacing: -0.4px;
		}

		@include mobile {
			margin-bottom: vc(4);
			font-size: vc(16);
			line-height: vc(20);
		}
	}

	&__rank {
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: #E0E0FF;

		mix-blend-mode: normal;
		opacity: 0.6;

		@include mobile {
			font-size: vc(13);
		}
	}

	&__number {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: vc(16);
		line-height: vc(24);

		.autor-list__col--2 & {
			padding-left: vc(27);
		}

		@include mobile {
			font-size: vc(13);
			line-height: vc(20);
		}
	}

	&__money {
		margin-left: vc(12);
		width: vc(24);
		height: vc(24);

		@include mobile {
			margin-left: vc(8);
			width: vc(20);
			height: vc(20);
		}
	}

	&__like {
		margin-left: vc(8);
		width: vc(24);
		height: vc(24);
		color: #E0E0FF;
		opacity: 0.6;

		@include mobile {
			width: vc(20);
			height: vc(20);
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: vc(32);

		@include mobile {
			flex-flow: column;
		}
	}

	&__nav {
		display: flex;
		align-items: center;

		@include mobile {
			width: 100%;
			justify-content: space-between;
		}
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vc(36);
		height: vc(36);
		background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
		box-shadow: 0px 0px 1px rgba(255, 0, 170, 0.24), 0px 2px 4px -1px rgba(27, 10, 82, 0.06), 0px 16px 24px rgba(255, 0, 170, 0.12), 0px 8px 8px -4px rgba(255, 0, 170, 0.06), inset 0px 2px 6px rgba(255, 0, 170, 0.4);
		border-radius: 12px;

		svg {
			width: vc(20);
			height: vc(20);
		}
	}

	&__pages {
		display: flex;

		li {
			margin: 0 2px;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vc(36);
		height: vc(36);
		color: #E0E0FF;

		opacity: 0.6;

		&.is-current{
			background: #2D2F33;
			border-radius: 12px;
			color: $color-white;
			opacity: 1;
		}
	}
}
