section.section.section--advantage
	.container.container--advantage
		.circle.circle--7
		.circle.circle--8
		.advantage
			.advantage__left
				.advantage__item.advantage__item--1
					.advantage__icon
						+svg('advantage-1')
					.advantage__subtitle
						| Создатели-новаторы
					.advantage__text
						| There are many variations
						| of passages of Lorem available
				.advantage__item.advantage__item--2
					.advantage__icon
						+svg('advantage-2')
					.advantage__subtitle
						| Качество и стиль
					.advantage__text
						| There are many variations
						| of passages of Lorem available
				.advantage__item.advantage__item--3
					.advantage__icon
						+svg('advantage-3')
					.advantage__subtitle
						| Высокая прибыль
					.advantage__text
						| There are many variations
						| of passages of Lorem available
				.advantage__item.advantage__item--4
					.advantage__icon
						+svg('advantage-4')
					.advantage__subtitle
						| Динамическая платформа
					.advantage__text
						| There are many variations
						| of passages of Lorem available
			.advantage__right
				.advantage__title
					| Популярные
					br
					| рынки&nbsp;
					br.for-desktop
					| NFT-аватаров
				.advantage__subtext
					| Существует множество торговых NFT-площадок, где вы можете купить существующие токены или выставить свои NFT на продажу. Наиболее популярные рынки NFT — OpenSea, AtomicMarket, Async Art, SuperRare,
					| Rarible и Decentraland Marketplace
				+Button({
					arrow: true,
					size: 'arrow',
					title: 'See More'
				})
