.container.container--catalog
	.circle.circle--9(data-off-parallax='{"y": 30, "distance": 1900, "smoothness": 10}')
	.circle.circle--10(data-off-parallax='{"y": 60, "distance": 1900, "smoothness": 10}')
	.circle.circle--11(data-off-parallax='{"y": 90, "distance": 1900, "smoothness": 10}')
	.circle.circle--12(data-off-parallax='{"y": 120, "distance": 1900, "smoothness": 10}')
	.container__top.container__top--catalog

		.container__left
			+Title({
				size: 1,
				title: 'Catalog'
			})
			.container__select
				.search
					.search__button.js-open
						+svg('search')
					form.search__form
						.search__input
							input(placeholder="Authors names")
							button.search__go.button-hover(type="submit")
								span
									| Search
						.search__cencel.js-close
							+svg('close').for-mobile
							.for-desktop
								| Cancel

				select.js-select.select--sorting
					option(value="hide") Sorting
					option By popularity
					option Lowest Price
					option Highest Price
					option Most Likes
					option Most Views
					option Auction Ending Soon
				.filter.for-mobile
					+svg('filter')
					| Filter
					span.filter-select
		.container__right.for-desktop
			select.js-select.select--category
				option(value="hide") Category
				option All
				option Art
				option Collectibles
				option Entertainment
				option Esports
				option Gaming
				option NFT for Good
				option Sport
			select.js-select
				option(value="hide") Media type
				option By popularity
				option Lowest Price
				option Highest Price
				option Most Likes
				option Most Views
				option Auction Ending Soon
			select.js-select
				option(value="hide") Trade type
				option By popularity
				option Lowest Price
				option Highest Price
				option Most Likes
				option Most Views
				option Auction Ending Soon

			.range
				.range__current
					.range__start
						| Price range
					.range__d.is-hidden
						| -
					.range__end
						|
					| , $
					.range__icon
				.range__dropdown
					.range__title
						| Price range, $
					.range__inputs
						.range__input
							input(min="0" )
						| -
						.range__input
							input(min="0" )
					.range__title
						| Choose Crypto
					select(name="basic[]" multiple="multiple")
						option(value="ETH") ETH
						option(value="Bitcoin") Bitcoin
					.range__item
						.range__sicon
							| ~
							+svg('eth')
						.range__price
							| 0,255
						.range__divider
							| -
						.range__price
							| 0,515
					.range__item
						.range__sicon
							| ~
							+svg('bit')
						.range__price
							| 0,153
						.range__divider
							| -
						.range__price
							| 0,49
					.range__apply
						| Apply
					.range__clear
						| Clear
			select.js-select.select--last
				option(value="hide") Binance
				option By popularity
				option Lowest Price
				option Highest Price
				option Most Likes
				option Most Views
				option Auction Ending Soon
	.popuplar.popuplar--2
		+Card({
			sold: true,
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
		+Card({
			size: 'small',
			link: '#',
			caption: 'Total sale $235',
			image: '../images/card.jpg',
			edition: 'Editions 342',
			title: 'Crypto Girl Avatar #5',
			price: 'PRICE',
			money: '$139',
			start: 'Starting Bid',
			hour: '2 hours',
			end: 'Ends in',
			product: 'AI.MALEVICH Х NIFTS',
		})
