section.section.section--marketplace
	.container.container--collections
		.container__top
			+Title({
				size: 3,
				title: 'Reccomended Collections',
			})
			.container__buttons
				+Button({
					size: 'black',
					title: 'View all'
				}).right-16.button--try
				.js-nav.nav-collections.nav-collections--left
					+svg('arrow-left')
				.js-nav.js-nav--right.nav-collections.nav-collections--right
					+svg('arrow-right')
		.collections.swiper
			.swiper-wrapper
				.swiper-slide
					.collections__item
						a.collections__image(href="")
							img(src="../images/card.jpg" alt="image")

						.collections__content
							.collections__icon
								img(src="../images/Pixel.png" alt="person")
							.collections__person
								| by
								a(href="#")
									| KittyCryptoGang
							a.collections__title(href="")
								| FishuFam
							.collections__text
								| Explore the FichyFam collection that made
								| by the talented Nicolas Morel & Amalie Comes
				.swiper-slide
					.collections__item
						a.collections__image(href="")
							img(src="../images/card-2.jpg" alt="image")

						.collections__content
							.collections__icon
								img(src="../images/Pixel-2.png" alt="person")
							.collections__person
								| by
								a(href="#")
									| KittyCryptoGang
							a.collections__title(href="")
								| FishuFam
							.collections__text
								| Explore the FichyFam collection that made
								| by the talented Nicolas Morel & Amalie Comes
				.swiper-slide
					.collections__item
						a.collections__image(href="")
							img(src="../images/card-3.jpg" alt="image")

						.collections__content
							.collections__icon
								img(src="../images/Pixel-3.png" alt="person")
							.collections__person
								| by
								a(href="#")
									| KittyCryptoGang
							a.collections__title(href="")
								| FishuFam
							.collections__text
								| Explore the FichyFam collection that made
								| by the talented Nicolas Morel & Amalie Comes
				.swiper-slide
					.collections__item
						a.collections__image(href="")
							img(src="../images/card.jpg" alt="image")

						.collections__content
							.collections__icon
								img(src="../images/Pixel.png" alt="person")
							.collections__person
								| by
								a(href="#")
									| KittyCryptoGang
							a.collections__title(href="")
								| FishuFam
							.collections__text
								| Explore the FichyFam collection that made
								| by the talented Nicolas Morel & Amalie Comes
