.background-gray.background-gray--1
	.container
		.container__top
			+Title({
				size: 3,
				title: 'FAQ',
			})
			.container__buttons
				+Button({
					size: 'black',
					title: 'View all'
				}).button--try
		.faq
			.faq__item
				.faq__top
					.faq__title
						| Что такое NFT?
					.faq__arrow
						span
						span
				.faq__content
					| Коллекционер получает право собственности на произведение, и возможность перепродать это право в будущем.
			.faq__item
				.faq__top
					.faq__title
						| А права?
					.faq__arrow
						span
						span
				.faq__content
					| Коллекционер получает право собственности на произведение, и возможность перепродать это право в будущем.
			.faq__item
				.faq__top
					.faq__title
						| А что получает коллеционер?
					.faq__arrow
						span
						span
				.faq__content
					| Коллекционер получает право собственности на произведение, и возможность перепродать это право в будущем.
			.faq__item
				.faq__top
					.faq__title
						| Что такое NFT?
					.faq__arrow
						span
						span
				.faq__content
					| Коллекционер получает право собственности на произведение, и возможность перепродать это право в будущем.
