header.header
	.container.container--header
		.header__left
			a.header__logo(href="/")
				+svg('client')
			ul.header__nav.for-desktop
				li.is-current
					a.header__link
						+svg('bag')
						| Marketplace
				li
					a.header__link
						+svg('moon_stars')
						| Metaverse
				li
					a.header__link
						+svg('card')
						| Digital clothing
				li
					a.header__link
						+svg('bolt')
						| Collab
		.header__right
			.header__lang.for-desktop
				.header__lang-current
					| ENG
				ul.header__lang-list
					li
						a.header__lang-link(href='#')
							| RU

			a.header__area(href="#").for-desktop
				+svg('person')
			+Button({
				size: 'medium',
				title: 'Create NFT'
			})
			.header__burger.js-button
				.header__burger-i
					span
			ul.header__menu
				li
					a.header__menu-link(href="") About Us
				li
					a.header__menu-link(href="") NFT Marketing Strategy
				li
					a.header__menu-link(href="") Projects
				li
					a.header__menu-link(href="") Sold Out
				li
					a.header__menu-link(href="") Charity
				li
					a.header__menu-link(href="") Blog
				li
					a.header__menu-link(href="") Contacts
