.background-gray
	.container
		.info
			.info__left
				.info__title
					| Information
				.info__content
					.info__subtitle
						| Contract address
					.info__subtext
						| 0x1dDB2C0897daF18632662E71fdD2dbDC0eB3a9Ec
				.info__content
					.info__subtitle
						| Token ID
					.info__subtext
						| 100300172236
			.info__right
				.tabs
					.tabs__navs
						.tabs__nav(data-tab="1").is-active
							| Origin
						.tabs__nav(data-tab="2")
							| BID History
					.tabs__content
						.tabs__element.is-active(data-tab="1")
							.tabs__scroller(data-scrollbar)
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
						.tabs__element.is-hidden(data-tab="2")
							.tabs__scroller(data-scrollbar)
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
								.tabs__item
									.tabs__title
										| Listed by MetaNFT
									.tabs__times
										| Jan 30, 2022 - 12:47pm
