section.section.section--marketplace
	.container.container--marketplace
		.container__top
			+Maintitle({
				title: 'Marketplace',
			})
			.container__buttons.for-desktop
				+Button({
					size: 'black',
					title: 'Buy all'
				}).right-16.button--try
				+Button({
					size: 'small',
					title: 'Try  luck'
				}).button--try.js-luck
		.marketplace.swiper
			.circle.circle--1(data-off-parallax='{"y": 30, "distance": 1300, "smoothness": 5}')
			.circle.circle--2(data-off-parallax='{"y": 60, "distance": 1900, "smoothness": 10}')
			.circle.circle--3(data-off-parallax='{"y": 90, "distance": 1500, "smoothness": 15}')
			.swiper-wrapper
				.swiper-slide
					+Card({
						size: '1',
						market: true,
						link: '#',
						caption: 'Total sale $235',
						image: '../images/card.png',
						edition: 'Editions <span>342</span>',
						title: 'Crypto Girl Avatar #5',
						price: 'PRICE',
						money: '$139',
						start: 'Starting Bid',
						hour: '2 hours',
						end: 'Ends in',
						product: 'AI.MALEVICH Х NIFTS',
					})
				.swiper-slide
					+Card({
						size: '2',
						market: true,
						link: '#',
						caption: 'Total sale $235',
						image: '../images/card-2.png',
						edition: 'Editions <span>342</span>',
						title: 'Crypto Girl Avatar #5',
						price: 'PRICE',
						money: '$139',
						start: 'Starting Bid',
						hour: '2 hours',
						end: 'Ends in',
						product: 'AI.MALEVICH Х NIFTS',
					})
				.swiper-slide
					+Card({
						size: '3',
						market: true,
						link: '#',
						caption: 'Total sale $235',
						image: '../images/card-3.png',
						edition: 'Editions <span>342</span>',
						title: 'Crypto Girl Avatar #5',
						price: 'PRICE',
						money: '$139',
						start: 'Starting Bid',
						hour: '2 hours',
						end: 'Ends in',
						product: 'AI.MALEVICH Х NIFTS',
					})
		.container__footer.for-mobile

			+Button({
				size: 'black',
				title: 'Buy all'
			}).right-16.button--try.button--lg
			+Button({
				size: 'small',
				title: 'Try  luck'
			}).button--try.button--lg.js-luck

