.mobile-menu.for-mobile.is-hidden
	.mobile-menu__level.mobile-menu__level--1
		.mobile-menu__main.js-level-main
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M19.2969 9.55469C19.7422 9.55469 20.1016 9.17969 20.1016 8.73438C20.1016 8.28125 19.75 7.91406 19.2969 7.91406H4.70312C4.25 7.91406 3.89844 8.28906 3.89844 8.73438C3.89844 9.17188 4.25781 9.55469 4.70312 9.55469H19.2969ZM19.297 13.1876C19.7423 13.1876 20.1017 12.8126 20.1017 12.3673C20.1017 11.9142 19.7501 11.547 19.297 11.547H4.70322C4.2501 11.547 3.89854 11.922 3.89854 12.3673C3.89854 12.8048 4.25791 13.1876 4.70322 13.1876H19.297ZM20.1017 16.0001C20.1017 16.4454 19.7423 16.8282 19.297 16.8282H4.70322C4.25791 16.8282 3.89854 16.4376 3.89854 16.0001C3.89854 15.5548 4.2501 15.1798 4.70322 15.1798H19.297C19.7501 15.1798 20.1017 15.547 20.1017 16.0001Z" fill="url(#paint0_linear_763_8271)"/>
			<defs>
			<linearGradient id="paint0_linear_763_8271" x1="-4.20316" y1="12.3711" x2="3.32621" y2="26.0572" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FF00AA"/>
			<stop offset="0.501768" stop-color="#9C42F5"/>
			<stop offset="1" stop-color="#5D2DE1"/>
			</linearGradient>
			</defs>
			</svg>
			| Main
		ul.mobile-menu__nav
			li.is-current
				a.mobile-menu__link
					+svg('bag')
					| Marketplace
			li
				a.mobile-menu__link
					+svg('moon_stars')
					| Metaverse
			li
				a.mobile-menu__link
					+svg('card')
					| Digital clothing
			li
				a.mobile-menu__link
					+svg('bolt')
					| Collab
		.mobile-menu__info
			.mobile-menu__info-current
				.mobile-menu__info-icon.js-icon
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="2" y="2" width="20" height="20" rx="10" fill="#FAFBFC"/>
					<mask id="mask0_1021_8719" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="2" width="20" height="20">
					<rect x="2" y="2" width="20" height="20" rx="10" fill="white"/>
					</mask>
					<g mask="url(#mask0_1021_8719)">
					<rect x="2" y="2" width="20" height="2.5" fill="#FAFBFC"/>
					<rect x="2" y="4.5" width="20" height="2.5" fill="#B22234"/>
					<rect x="2" y="7" width="20" height="2.5" fill="#FAFBFC"/>
					<rect x="2" y="9.5" width="20" height="2.5" fill="#B22234"/>
					<rect x="2" y="12" width="20" height="2.5" fill="#FAFBFC"/>
					<rect x="2" y="14.5" width="20" height="2.5" fill="#B22234"/>
					<rect x="2" y="17" width="20" height="2.5" fill="#FAFBFC"/>
					<rect x="2" y="19.5" width="20" height="2.5" fill="#B22234"/>
					<rect x="2" y="2" width="10" height="10" fill="#3C3B6E"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M10.619 5.00871L10.2952 4.01227L11.1429 3.39645H10.0951L9.77139 2.4L9.44764 3.39645H8.3999L9.24756 4.01227L8.92377 5.00871L9.77139 4.39289L10.619 5.00871ZM10.2952 6.92535L10.619 7.9218L9.77134 7.30598L8.92372 7.9218L9.24751 6.92535L8.39985 6.30953H9.44759L9.77134 5.31309L10.0951 6.30953H11.1428L10.2952 6.92535ZM10.619 10.8348L9.77134 10.219L8.92372 10.8348L9.24751 9.83834L8.39985 9.22252H9.44759L9.77134 8.22607L10.0951 9.22252H11.1428L10.2952 9.83834L10.619 10.8348ZM7.22052 11.0087L6.3729 10.3929L5.52528 11.0087L5.84907 10.0123L5.00142 9.39645H6.04915L6.3729 8.4L6.69665 9.39645H7.74438L6.89673 10.0123L7.22052 11.0087ZM7.22052 8.08693L6.89673 7.09049L7.74438 6.47467H6.69665L6.3729 5.47822L6.04915 6.47467H5.00142L5.84907 7.09049L5.52528 8.08693L6.3729 7.47111L7.22052 8.08693ZM6.89673 4.1775L7.22052 5.17395L6.3729 4.55812L5.52528 5.17395L5.84907 4.1775L5.00142 3.56168H6.04915L6.3729 2.56523L6.69665 3.56168H7.74438L6.89673 4.1775ZM2.7729 10.3841L3.62052 10.9999L3.29673 10.0035L4.14438 9.38766H3.09665L2.7729 8.39121L2.44915 9.38766H1.40142L2.24907 10.0035L1.92528 10.9999L2.7729 10.3841ZM3.29673 7.09049L3.62052 8.08693L2.7729 7.47111L1.92528 8.08693L2.24907 7.09049L1.40142 6.47467H2.44915L2.7729 5.47822L3.09665 6.47467H4.14438L3.29673 7.09049ZM3.62052 5.17395L3.29673 4.1775L4.14438 3.56168H3.09665L2.7729 2.56523L2.44915 3.56168H1.40142L2.24907 4.1775L1.92528 5.17395L2.7729 4.55812L3.62052 5.17395Z" fill="#FAFBFC"/>
					</g>
					</svg>

				.mobile-menu__info-text
					| Language
			.mobile-menu__info-name.js-name.js-langs
				| English
		.mobile-menu__info
			.mobile-menu__info-current
				.mobile-menu__info-icon.js-icon
					img(src="../images/icon-person.png" alt="person")
				.mobile-menu__info-text
					| Account
			.mobile-menu__info-name.js-name.js-lc
				| vino_costa
		.header__title
			| follow
		.header__follow
			a.header__social(href="" target="_blank")
				+svg('fb')
			a.header__social(href="" target="_blank")
				+svg('tw')
			a.header__social(href="" target="_blank")
				+svg('inst')
			a.header__social(href="" target="_blank")
				+svg('tg')
			a.header__social(href="" target="_blank")
				+svg('dis')
	.mobile-menu__level.mobile-menu__level--2.is-hidden
		.mobile-menu__top
			.mobile-menu__back(data-level="2")
				+svg('arrow-left')
			.mobile-menu__position
				| Main
		ul.header__menu
			li
				a.header__menu-link(href="") About Us
			li
				a.header__menu-link(href="") NFT Marketing Strategy
			li
				a.header__menu-link(href="") Projects
			li
				a.header__menu-link(href="") Sold Out
			li
				a.header__menu-link(href="") Charity
			li
				a.header__menu-link(href="") Blog
			li
				a.header__menu-link(href="") Contacts
	.mobile-menu__level.mobile-menu__level--3.is-hidden
		.mobile-menu__top
			.mobile-menu__back(data-level="2")
				+svg('arrow-left')
			.mobile-menu__position
				| Language
		ul.header__menu.header__menu--langs
			li
				a.header__menu-link(href="") Albanian
			li
				a.header__menu-link(href="") Belarusian
			li
				a.header__menu-link(href="").is-select English
			li
				a.header__menu-link(href="") Danish
			li
				a.header__menu-link(href="") Latvian
			li
				a.header__menu-link(href="") Mongolian
			li
				a.header__menu-link(href="") Russian
			li
				a.header__menu-link(href="") Spanish
			li
				a.header__menu-link(href="") Turkish
			li
				a.header__menu-link(href="") Turkish
			li
				a.header__menu-link(href="") Turkish
			li
				a.header__menu-link(href="") Turkish
			li
				a.header__menu-link(href="") Turkish
		.mobile-menu__button.js-lang.button-hover
			span
				| Apply
