.background-gray
	.container.container--popular
		.container__top
			+Title({
				size: 3,
				title: 'Popular works',
			})
			.container__buttons
				+Button({
					size: 'black',
					title: 'View all'
				}).button--try
		.popuplar
			+Card({
				sold: true,
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
			+Card({
				size: 'small',
				link: '#',
				caption: 'Total sale $235',
				image: '../images/card.jpg',
				edition: 'Editions 342',
				title: 'Crypto Girl Avatar #5',
				price: 'PRICE',
				money: '$139',
				start: 'Starting Bid',
				hour: '2 hours',
				end: 'Ends in',
				product: 'AI.MALEVICH Х NIFTS',
			})
		.container__bottom
			+Button({
				size: 'medium',
				title: 'View Catalog'
			}).button--center
