extends pug/base

prepend vars
	//-

append vars
	//-

block content
	include pug/components/header
	main
		include pug/components/intro-inner-2
		include pug/components/catalog
		include pug/components/FAQ
	include pug/components/footer
