extends pug/base

prepend vars
	//-

append vars
	//-

block content
	include pug/components/header
	main
		include pug/components/marketplace
		include pug/components/autor
		include pug/components/collections
		include pug/components/popular
