:root {
	--width-base: 1440;
	--width-current: 1441px;
	--width-multiplier: var(--width-current) / var(--width-base);

	@include laptop {
		--width-current: 100vw;
	}

	@include desktop-xl {
		--width-base: 1680;
		--width-current: 1680px;
	}

	@include mobile {
		--width-base: 360;
		--width-current: 100vmin;
	}
}

@mixin response($size) {
	@media only screen and (max-width: ($size + "px")) {
		@content;
	}
}

@mixin min-response($size) {
	@media only screen and (min-width: ($size + "px")) {
		@content;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: $font-primary;
	scroll-behavior: smooth;
	font-size: calc(100vw / 1680 * 10);

	@include desktop-xl {
		font-size: 14px;
	}

	@include response(1024) {
		font-size: calc(100vw / 600 * 10);
	}

	@include response(767) {
		font-size: calc(100vw / 368 * 10);
	}

	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}

	&.is-lock-scroll,
	&.is-lock-scroll body {
		overflow: hidden;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	font-family: $font-Montserrat;
	color: $color-white;
	background: $color-body;
	font-size: vc(14);

	@include mobile {
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 5;
			background: rgba(9, 13, 20, 0.8);
			mix-blend-mode: normal;
			backdrop-filter: blur(4px);
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s $easing-smooth;
		}

		&.is-menu {
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

main {
	overflow: hidden;

	flex: 1;

	@include mobile {
		margin-top: vc(64);
	}
}

p {
	margin: 0;
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	margin: 0;
	line-height: 0;

	img {
		width: 100%;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	background-color: transparent;
	transition: $duration-normal;
	user-select: none;

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100%;
		color: currentColor;
		transform: translateZ(0);
	}
}

.js-lazy-load:not(.is-loaded) {
	max-height: 50vh;
}

.container {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh; // fallback
	// stylelint-disable-next-line
	min-height: var(--vh);
}

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
	*,
	*:before,
	*:after {
		animation-duration: 0.001s !important;
		animation-delay: 0s !important;
		transition-duration: 0.001s !important;
		transition-delay: 0s !important;
	}
}

/* stylelint-enable */

.content {
	padding-left: vc(140);
}


.breadcrums {
	display: flex;
	margin: vc(39 ) 0 vc(25);

	li {
		position: relative;
		display: flex;
		align-items: center;

		&:last-child {
			&::after {
				display: none;
			}

			a {
				color: rgba(224, 224, 255, 0.5);
				pointer-events: none;
			}
		}

		&::after {
			content: "•";
			margin: 0 vc(8);
			font-weight: 600;
			font-size: vc(14);
			line-height: vc(20);
			color: rgba(224, 224, 255, 0.6);
		}
	}

	&__link {
		font-weight: 500;
		font-size: vc(14);
		line-height: vc(20);
		color: rgba(224, 224, 255, 0.8);
	}

	@include mobile {
		flex-wrap: wrap;
		margin: vc(23) 0px vc(20);
	}
}


[data-scrollbar] {
	display: block;
	position: relative;
	height: vc(310);

	@include mobile {
		height: vc(440);
	}
}

.scroll-content {
	display: flow-root;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	@include mobile {
		margin-right: vc(16);
	}
}

.scrollbar-track {
	position: absolute;
	opacity: 1 !important;
	z-index: 1;
	background: rgb(30, 32, 37) !important;
	user-select: none;
	transition: opacity 0.5s 0.5s ease-out;
}

.scrollbar-track.show,
.scrollbar-track:hover {
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.scrollbar-track-x {
	bottom: 0;
	left: 0;
	width: 100%;
	height: vc(8);
}

.scrollbar-track-y {
	top: 0;
	right: 2px !important;
	width: vc(6);
	height: 100%;
}

.scrollbar-thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: vc(6) !important;
	height: vc(8);
	background: rgba(224, 224, 255, 0.12) !important;
	border-radius: 10px;
}

.filter {
	display: flex;
	align-items: center;
	margin-left: vc(143);
	border-radius: 12px;
	padding: vc(10) vc(16) vc(10) vc(12);
	background: #2D2F33;
	font-weight: 500;
	font-size: vc(14);
	line-height: vc(14);
	color: rgba(224, 224, 255, 0.6);
	transition: all 0.5s linear;
	cursor: pointer;

	svg {
		margin-right: vc(8);
		width: vc(20);
		height: vc(20);
	}

	&:hover {
		background: #383a3f;
	}

	.is-active & {
		opacity: 0;
		visibility: hidden;
	}
}

.swiper-button-disabled {
	background: #2D2F33 !important;
	pointer-events: none;

	svg {
		opacity: 0.24;
	}
}
